2018_21_Meetup/WhyGoLangLooksLikeThat/*.aux
2018_21_Meetup/WhyGoLangLooksLikeThat/*.log
2018_21_Meetup/WhyGoLangLooksLikeThat/*.nav
2018_21_Meetup/WhyGoLangLooksLikeThat/*.out
2018_21_Meetup/WhyGoLangLooksLikeThat/*.snm
2018_21_Meetup/WhyGoLangLooksLikeThat/*.toc
2018_21_Meetup/WhyGoLangLooksLikeThat/*.vrb
