{{- define "k8s.pdb" -}}
{{- range $_ := (list 1) -}}
{{- $_is_returning := false -}}
{{- $minAvail := (3 | int) -}} // HL
{{- $_is_returning = true -}}
{{- (dict "r" (mustMergeOverwrite (dict "metadata" (dict "creationTimestamp" (coalesce nil)) "spec" (dict) "status" (dict "disruptionsAllowed" 0 "currentHealthy" 0 "desiredHealthy" 0 "expectedPods" 0)) (mustMergeOverwrite (dict) (dict "apiVersion" "policyv1" "kind" "PodDisruptionBudget")) (dict "spec" (mustMergeOverwrite (dict) (dict "minAvailable" $minAvail))))) | toJson -}}
{{- break -}}
{{- end -}}
{{- end -}}